@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .backdrop-blur-transition {
    @apply transition-[backdrop-filter] duration-300;
  }

  .territory-card-highlight {
    @apply before:absolute before:inset-0 before:rounded-xl before:ring-2 
    before:ring-primary/50 before:animate-pulse;
  }

  .animate-float {
    animation: float 2s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150%) translateX(-50%);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
